html, body{
    /* height: 100vh; */
}
body{
	margin:0;
	padding: 0;
	font-family: arial, sans-serif;
	background-color: #fff;
	font-size: 14px;
	letter-spacing: 0.2px;
}
ul{
	margin: 0;
	padding: 0;
}
.alyka-container{
	width: 1152px;
	margin: 0 auto;
}
input{
	outline: 0;
}
header{
	background:#fff;
	position: relative;
	z-index: 4;
}
	
	header .top-bar{
		position: relative;
		padding: 0 15px;
	}
	header .logo{
		float: left;
		width: 658px;
		height: 150px;
		background: url(../img/logo.png)no-repeat 0 0 / contain;
	}
	header .logo img{
		position: relative;
		max-width: 100%;
	}
	header .search-con{
		float: right;
		margin-top: 30px;
		width: 225px;
	}
	header .tel{
		font-size: 28px;
		color: #e37920;
		text-align: right;
		margin-bottom: 5px;
		letter-spacing: 1.5px;
		float: right;
		width: 225px;
		background: url(../img/icons/phone.png) no-repeat 0;
	}
	header .tel span{
		font-size: 20px;
	}
	header .search-box{
		position: relative;
		width: 225px;
		float: right;
	}
	header .search-box input{
		border: 1px solid #ccc;
		width: 100%;
		padding: 11px;
		text-align: left;
		background: url(../img/icons/search.png) no-repeat 94% 50%;
	}
	header .nav-container{
		position: relative;
		background:#55595d;
	}
	header .nav{
		position: relative;
		text-align: left;
	}
	header ul{
		position: relative;
	}
	header ul li{
		display: inline-block;
		padding: 13.5px 15px;
		color: #fff;
		text-transform: uppercase;
		vertical-align: middle;
		font-weight: bold;
		font-size: 14px;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	header ul li:hover{
		color: #E47925;
	}
	header a{
		position: relative;
		text-decoration: none;
	}

/*swiper*/
	.slider-bg{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	}
	.swiper-container {
        width: 100%;
        /* height: 100%; */
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -webkit-flex;
        /* display: flex; */
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        position: relative;
    }
    .swiper-slide .overlay{
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    	/* background:#000; */
    	opacity: 0.3;
    	z-index: 1;
    }
    .assel.arrow-left, .assel.arrow-right {
	    display: block;
	    position: absolute;
	    /* left: 0; */
	    right: 0;
	    top: 280px;
	    /* margin-top: -16px; */
	    z-index: 99;
	    width: 72px;
	    height: 72px;
	    background: url(../img/icons/arrow-right.png) left top no-repeat;
	    cursor: pointer;
	}
	.assel.arrow-right {
		left: 0;
		right: initial;
		background: url(../img/icons/arrow-left.png) left top no-repeat;
	}
	.swiper-slide .text-container{
		z-index: 2;
		color: #fff;
		position: absolute;
		top: 200px;
		ms-flex: 1;
		-webkit-flex: 1;
		flex: 1;
	}
	.swiper-slide .slider-head{
		font-size: 32px;
		display: none;
	}
	.swiper-slide .slide-box-con{
		position: relative;
		background: rgba(85, 89, 93, 0.75);
		text-align: left;
		padding: 40px 10px 40px 50px;
		width: 625px;
		/* height: 240px; */
		ms-flex: 1;
		-webkit-flex: 1;
		flex: 1;
	}
	.swiper-slide .fn1{
		position: relative;
		font-size: 69px;
		font-weight: bold;
		line-height: 53px;
		letter-spacing: 13px;
	}
	.swiper-slide .fn2{
		position: relative;
		font-size: 41px;
		line-height: 65px;
		text-transform: uppercase;
		letter-spacing: 14px;
	}
	.swiper-slide .fn3{
		position: relative;
		font-size: 26px;
		margin-top: 10px;
		letter-spacing: 1px;
	}
	.swiper-slide a{
		color: #fff;
		text-decoration: none;
	}
	.swiper-slide .slider-btn{
		width: 185px;
		font-size: 18px;
		padding: 12px 0;
		position: absolute;
		bottom: -23px;
		right: 41px;
	}

	.swiper-container-testimonials{
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		z-index: 1;
		height: 186px;
		width: 100%;
	}
/*end swiper*/

.alyka-btn, .alyka-btn-drk{
	text-transform: uppercase;
	color: #fff;
	background: #e37920;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
	position: relative;
	-webkit-transition: all .5s cubic-bezier(1,.01,0,.99);
	-moz-transition: all .5s cubic-bezier(1,.01,0,.99);
	-o-transition: all .5s cubic-bezier(1,.01,0,.99);
	transition: all .5s cubic-bezier(1,.01,0,.99);
}
.alyka-btn:after, .alyka-btn-drk:after {
    content: "";
    display: block;
    height: 100%;
    width: 0;
    background: #fff;
    opacity: .1;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all .5s cubic-bezier(1,.01,0,.99);
    -moz-transition: all .5s cubic-bezier(1,.01,0,.99);
    -o-transition: all .5s cubic-bezier(1,.01,0,.99);
    transition: all .5s cubic-bezier(1,.01,0,.99);
}
.alyka-btn-drk:after{
	background: #803A00;
	z-index: 0;
}
.alyka-btn:hover, .alyka-btn-drk:hover{
    color: #E37920 !important;
    background: #d3c8b7 !important;
}
.alyka-btn-drk:hover{
	color: #ffffff !important;
}

.alyka-btn:hover:after, .alyka-btn-drk:hover:after {
    width: 100%;
}

.copy-top-bg{
	background:url(../img/bg/content-start.png) no-repeat;
	width: 100%;
	height: 32px;
}
.content{
	/* margin-top: -100px; */
	z-index: 3;
	position: relative;
}
.about{
	margin-top: -395px;
	text-align: center;
	padding: 0px 0 30px 0;
}
	.body-content{
		background: rgba(255, 255, 255, 0.92);
		/* height: 500px; */
		padding: 30px 30px 50px 30px;
		font-size: 18px;
		border-bottom: 1px solid #f2f2f2;
		color: #55595d;
	}
	.about .head2, .about .head2-bold,
	.head2-bold.sub-title{
		margin: 0;
		text-transform: uppercase;
		color: #55595d;
		font-size: 38px;
		margin-bottom: 40px;
	}
	.about .head2-bold{
		font-weight: bold;
	}
	.head2-bold.sub-title{
		font-weight: bold;
		font-size: 28px;
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.about .fn30{
		font-size: 30px;
	}
	.body-content p{
		margin-bottom: 25px;
	}
	.body-content.whoarewe{
		padding: 0;
		padding: 30px 30px 0px 30px;
		border: none;
	}
	.about .find-out{
		width: 307px;
		padding: 11px 0;
		font-size: 14px;
		margin-top: 40px;
	}

.watwedo-tiles-container{
	text-align: center;
	padding: 0 5px;
}

.watwedo-tiles-container .tile{
	position: relative;
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0 0px;
	width: 100%;
	height: 295px;
	/* margin: 0 auto; */
}
.tile-con{
	padding: 0px 5px;
	margin: 0 auto;
	display: inline-block;
	margin-bottom: 10px;
	width: 370px;
}
.tile.t1{
	background-image: url(../img/whatwedo/corporate.jpg);
}
.tile.t2{
	background-image: url(../img/whatwedo/government.jpg);
}
.tile.t3{
	background-image: url(../img/whatwedo/argibusiness.jpg);
}
.tile.t4{
	background-image: url(../img/whatwedo/individual.jpg);
}
.tile.t5{
	background-image: url(../img/whatwedo/women.jpg);
}
.tile.t6{
	background-image: url(../img/whatwedo/youth.jpg);
}

.video{
	height: 100vh;
	width: 100%;
	background: url(../img/bg/video.jpg) no-repeat 50% 50% / cover;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.text-con{
	/* position: absolute; */
	/* top: 0; */
	/* bottom: 0; */
	/* right:0; */
	/* left: 0; */
	/* margin: auto; */
	/* height: 290px; */
	/* width: 100%; */
	text-align: center;
	ms-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}
	.video .head2{
		font-size: 90px;
		color: #fff;
		text-transform: uppercase;
		margin: 0;
		margin-bottom: 30px;
	}
	.video .desc{
		font-size: 30px;
		color: #fff;
		width: 1060px;
		margin: 0 auto;
		line-height: 35px;
		margin-bottom: 40px;
	}
	.video .video-btn{
		width: 140px;
		text-transform: uppercase;
		background: #ffffff;
		/* line-height: 50px; */
		text-align: center;
		color: #e37920;
		font-size: 14px;
		margin: 0 auto;
		cursor: pointer;
		padding: 15px 0;
	}


.testimonials-container{
	background:#e37920;
	padding: 45px 0 19px 0;
}
.swiper-slide.testi{
	background:#e37920;
}
.testimonials .head2-bold{
	margin: 0;
	text-transform: uppercase;
	color: #55595d;
	font-size: 38px;
	letter-spacing: 6px;
	font-weight: bold;
	/* margin-bottom: 20px; */
	text-align: center;
	color: #fff;
}
.swiper-slide .text-container.testi{
	position: relative;
	top: 0;
}
.assel.arrow-left.testi, .assel.arrow-right.testi{
	top: 25%;
}
.testimonials .testimonials-copy{
	font-size: 30px;
}
.testimonials .desc{
	font-size: 14px;
	margin-top: 15px;
}
.testimonials .testi-btn{
	width: 125px;
	/* height:48px; */
	/* line-height: 48px; */
	margin: 0 auto;
	background: #fff;
	color: #e37920;
	font-size: 14px;
	margin-top: 30px;
	padding: 15px 0;
}
.testimonials .testi-bg{
	height: 39px;
	width: 100%;
	background:url(../img/bg/testimonial.png);
}

.testimonail-tiles-con{
	padding: 60px 0;
	overflow: hidden;
}
.testimonail-tile.left{
	padding-right: 10px;
	float: left;
	width: 50%;
}
.testimonail-tile.right{
	padding-left: 10px;
	float: left;
	width: 50%;

}

.testi-tile-big{
	background-position: 50%;
	background-size: cover;
	width:100%;
	height: 576px;
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.testi-tile-sm{
	background-position: left;
	background-repeat: no-repeat;
	width:100%;
	height: 318px;
	padding: 30px 30px 30px 206px;
	color: #fff;
}

.testimonials .tile-bg1{
	background-image: url(../img/bg/testi_bg1.jpg);
}
.testimonials .tile-bg2{
	background-image: url(../img/bg/testi_bg2.jpg);
	background-color: #C73B22;
	margin-top: 20px;
}
.testimonials .tile-bg3{
	background-image: url(../img/bg/testi_bg3.jpg);
	background-color: #55585D;
	margin-bottom: 20px;
}
.testimonials .tile-bg4{
	background-image: url(../img/bg/testi_bg4.jpg);
}

.testimonials .text-box{
	width: 363px;
	/* height: 254px; */
	background:#fff;
	padding: 25px 30px;
	color: #55595d;
	text-align: center;
}

.testimonials .text-box .copy1{
	font-size: 15px;
	text-transform: uppercase;
}
.testimonials .text-box .copy1.bold{
	font-weight: bold;
	font-size: 16px;
}
.testimonials .text-box .copy2{
	font-size: 30px;
	line-height: 28px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-transform: uppercase;
	text-transform: uppercase;
}
.testimonials .text-box .copy3{
	font-size: 16px;
}
.testimonials .text-box .sep{
	height: 1px;
	width: 100%;
	background: #cccccc;
	margin: 13px 0;
}
.testimonials .text-box .find-btn{
	font-size: 25px;
	color: #e37920;
}
.testimonials .sm-copy1{
	font-size: 15px;
	font-weight: bold;
}
.testimonials .sm-copy2{
	font-size: 30px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
	line-height: 29px;
	text-transform: uppercase;
}
.testimonials .sm-copy3{
	font-size: 14px;
}
.testimonials .sm-sep{
	height: 1px;
	width: 100%;
	background: #fff;
	margin: 25px 0;
}

.testimonials .sm-find{
	font-size: 16px;
	color: #fff;
}

.events{
	background: url(../img/bg/events.png) #f2f2f2 no-repeat right top;
	padding: 28px 0;
	overflow: hidden;
}
.events .head2-bold{
	font-weight: bold;
	font-size: 38px;
	color: #55595d;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 20px;
}
.events .event-row{
	border-bottom: 1px solid #cecece;
	padding: 6px 0;
	text-align: center;
}
.events .event-title{
	color: #55595d;
	font-size: 24px;
	float: left;
	line-height: 50px;
}
.events .book-btn{
	text-transform: uppercase;
	width: 125px;
	padding: 15px 0px;
	float: right;
	margin: 0 auto;
}
.events .book-btn.sold{
	color: #fff;
	background: #d3c8b7;
	text-align: center;
}

.nb{
	border-bottom: none !important;
}

.social-tabs-con{
	border-bottom: 1px solid #cecece;
	margin-top: 15px;
}

.tabs{
	background-position: 50%;
	background-color: #d5d2ce;
	background-repeat: no-repeat;
	width: 40px;
	height: 38px;
	display: inline-block;
	cursor: pointer;
	position: relative;
	margin: 0;
	top: 6px;
	border-right: 1px solid #cecece;
	border-left: 1px solid #cecece;
	border-top: 1px solid #cecece;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.tabs:hover{
	background-color: #f2f2f2;
}
.tabs.active{
	background-color: #f2f2f2;
}
.tabs.fb{
	background-image: url(../img/icons/fb-g.png);
}
.tabs.tw{
	background-image: url(../img/icons/tw-g.png);
}
.tabs.li{
	background-image: url(../img/icons/li-g.png);
}
.tabs.insta{
	background-image: url(../img/icons/insta-g.png);
}

.social-content{
	padding: 10px 0;
	display: none;
	overflow: auto;
	height: 350px;
}
.social-content.active{
	display: block;
}
.awards-con{
	background:#fff;
	padding: 30px 0;
	text-align: center;
}

.award{
	display: inline-block;
	padding: 0 25px;
}

footer{

}
.footer-content{
	padding: 30px 0;
	background:#c73b23;
}

.links-col{
	/* width: 25%; */
	padding-right: 37px;
	margin: 0 -2px;
	display: inline-block;
	vertical-align: top;
}
.links-col a{
	color: #fff;
}

.links-col .link{
	font-size: 13px;
	padding-bottom: 1px;
}
.links-col .link.head{
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
.subscribe{
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 10px;
}
footer input{
	border:none;
	width: 170px;
	padding: 11px 10px;
	background: #8b2918;
	font-size: 14px;
	color: #fff;
}
footer ::-webkit-input-placeholder {
   color: #fff;
}
footer :-moz-placeholder {
   color: #fff;
}
footer ::-moz-placeholder {
   color: #fff; 
}
footer :-ms-input-placeholder {  
   color: #fff;
}

.sub-btn{
	width: 74px;
	padding: 10px 0;
	margin: 0;
	font-size: 13px;
	color: #8B2918;
	background: #fff;
	margin-top: 2px;
}

.social-ft{
	width: 20px;
	height: 23px;
	background-position: 50%;
	display: inline-block;
	margin-right: 14px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.social-ft:hover{
	opacity: 0.7;
}

.social-ft.fb{background-image: url(../img/icons/fb-w.png);}
.social-ft.tw{background-image: url(../img/icons/tw-w.png);}
.social-ft.li{background-image: url(../img/icons/li-w.png);}
.social-ft.insta{background-image: url(../img/icons/insta-w.png);}
.social-ft.yt{background-image: url(../img/icons/yt-w.png);}

.np{
	padding: 0;
}

.footer-copyright{
	padding: 10px 0;
	color: #fff;
	font-size: 10px;
	background: #b3351f;
}
.copyright{
	float: left;
}
.designedby{
	float: right;
}
.error-alert{
	color: #fff;
	font-size: 12px;
	margin-top: 3px;
}




/*////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////low resolution/////////////////
/////////////////////////////////////////////////////
//////////////////////////////////////////////////*/

@media (max-width: 1170px){
	.alyka-container{
		width: 100%;
	}
	.video .desc{
		width: 100%;
		padding: 0 30px;
	}
	
	.testimonials .tile-bg2{
		margin-bottom:20px; 
	}
	.copyright-con{
		padding: 0 10px;
	}
	.links-col{
	    padding-right: 0;
	    width: 45%;
	    margin-bottom: 20px;
	}

}

@media (max-width: 992px){
	header .logo {
	    width: 500px;
	    height: 136px;
	    background: url(../img/logo.png)no-repeat 0 0 / 500px;
	}
	.testimonials .testimonials-copy{
		font-size: 2vw;
		line-height: 2vw;
		padding: 0 20px;
	}
	.testimonail-tile.left, .testimonail-tile.right{
		width: 100%;
		padding: 0 10px;
	}
	.events .event-title{
		float: none;
	}
	.events .book-btn, .events .book-btn.sold{
		float: none;
	}
	.events .head2-bold{
		font-size: 30px;
		text-align: center;
	}
	.events .event-row{
		background:#fff;
		margin-top: 15px;
		padding: 15px 0;
	}
	.subscribe{
		margin-top: 30px;
	}
	.social-ft{
		padding: 0;
		margin-left: 10px;
		margin-top: 40px;
		margin-right: 0;
	}
}

@media (max-width: 767px){
	.menu-nav-btn{
		float: right;
		/* height: 31px; */
		/* width: 25px; */
		padding: 27px 20px;
		/* background: #55595D; */
		/* margin-right: 20px; */
		cursor: pointer;
	}
	.menu-nav-btn:hover .bars.middle.main{
	    width: 20px;
	}
	.menu-nav-btn.close{
		/*opacity: 0;
		transition: all 1s ease-in-out;
		-webkit-transform: scale(3);
		-moz-transform: scale(3);
		-mz-transform: scale(3);
		-o-transform: scale(3);
		transform: scale(3); */
		width: 38px;
	}
	.menu-nav-btn.close:hover{
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-mz-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
	}
	.menu-nav-btn-hide{
		opacity: 1 !important;
		-webkit-transform: scale(1) !important;
		-moz-transform: scale(1) !important;
		-mz-transform: scale(1) !important;
		-o-transform: scale(1) !important;
		transform: scale(1) !important;
	}
	.bars{
		background: #E47925;
		height: 2px;
		width: 25px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		z-index: 77;
		position: relative;
	}
	.bars.top{
		/* margin-top: 8px; */
		-webkit-transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
		-moz-transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
		-o-transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
		transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
	}
	.bars.middle{
		margin: 0 auto;
		margin-top: 5px;
		-webkit-transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
		-moz-transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
		-o-transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
		transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
	}
	.bars.bottom{
		margin-top: 5px;
		-webkit-transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
		-moz-transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
		-o-transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
		transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
	}
	.top.active{
	    -webkit-transform: rotatez(45deg) translate(4px,6px);
	    -moz-transform: rotatez(45deg) translate(4px,6px);
	    -ms-transform: rotatez(45deg) translate(4px,6px);
	    -o-transform: rotatez(45deg) translate(4px,6px);
	    transform: rotatez(45deg) translate(4px,6px);
	}
	.middle.active{
		-webkit-transform: translate(-100px,0px);;
	    -moz-transform: translate(-100px,0px);;
	    -ms-transform: translate(-100px,0px);;
	    -o-transform: translate(-100px,0px);;
		transform: translate(-100px,0px);
		opacity: 0;
	}
	.bottom.active{
	    -webkit-transform: rotatez(-45deg) translate(4px,-6px);
	    -moz-transform: rotatez(-45deg) translate(4px,-6px);
	    -ms-transform: rotatez(-45deg) translate(4px,-6px);
	    -o-transform: rotatez(-45deg) translate(4px,-6px);
	    transform: rotatez(-45deg) translate(4px,-6px);
	}
	.slide-left{
		transform: translate(0% ,0px) !important;
		-webkit-transform: translate(0% ,0px)!important;
		-moz-transform: translate(% ,0px)!important;
		-o-transform: translate(0% ,0px)!important;
		transform:translate(0%,0%)!important;
	}
	.body-overflow{
		overflow: hidden;
	}
	header .nav-container{
		position: absolute;
		top: 140px;
		left: 0;
		width: 100%;
		padding: 10px 0;
		-webkit-transform: translate(-100% ,0px);
	    -moz-transform: translate(-100% ,0px);
	    -ms-transform: translate(-100% ,0px);
	    -o-transform: translate(-100% ,0px);
	    transform: translate(-100% ,0%);
	    -webkit-transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
	    -moz-transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
	    -o-transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
	    transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
	}
	header .logo{
		background: url(../img/logo.png)no-repeat 0 0 / 330px;
		width: 115px;
		height: 70px;
	}
	header .nav{
		text-align: center;
	}
	header ul li{
		display: block;
		padding: 10px 15px;
	}
	header .search-con{
		position: absolute;
		top: 70px;
		left: 0;
		margin: 0;
		width: 100%;
		padding: 5px;
		background: #fff;
		border-top: 1px solid #D4D4D4;
		-webkit-transform: translate(-100% ,0px);
	    -moz-transform: translate(-100% ,0px);
	    -ms-transform: translate(-100% ,0px);
	    -o-transform: translate(-100% ,0px);
	    transform: translate(-100% ,0%);
	    -webkit-transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
	    -moz-transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
	    -o-transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
	    transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
	}
	header .tel{
		width: 100%;
		font-size: 16px;
		background: url(../img/icons/phone.png) no-repeat right 123px center / 14px;
		font-weight: bold;
	}
	header .search-box{
		width: 100%;
	}
	header .search-box input{
		padding: 7px 10px;
		background: url(../img/icons/search.png) no-repeat 97% 50% / 14px;
	}
	.assel.arrow-left, .assel.arrow-right{
		display: none;
	}
	.swiper-slide .slide-box-con{
		width: 100%;
		padding: 20px 10px 40px 20px;
	}
	.swiper-slide .slider-head{
		width: 100%;
		top: 100px;
		padding: 0 10px;
	}
	.swiper-pagination{
		top: 420px;
		left: 0;
		right: 0;
	}
	.swiper-slide .fn1{
		font-size: 8vw;
	}
	.swiper-slide .fn2{
		font-size: 6vw;
		line-height: initial;
	}
	.swiper-slide .fn3{
		font-size: 4vw;
	}
	.swiper-container{
		height: 650px;
	}
	.body-content{
		padding: 30px 15px 50px 15px;
	}
	.alyka-btn{
		width: 90%;
		/* padding: 11px 20px; */
	}
	.about{
		margin-top: -200px;
	}
	.video .head2{
		font-size: 8vw;
	}
	.video .desc{
		font-size: 4vw;
		line-height: 5vw;
	}
	.video{
		height: 550px;
	}
	.assel.arrow-left.testi, .assel.arrow-right.testi{
		display: block;
		width: 40px;
		height: 40px;
		background: url(../img/icons/arrow-right.png)no-repeat left top / cover;
		top: 50%;
	}
	.testi-tile-sm{
		padding: 30px 16px;
		text-align: center;
	}
	.testimonials .tile-bg3{
		background:none;
	    background-color: #55585D;
	}
	.testimonials .tile-bg2{
		background:none;
	    background-color: #C73B22;
	}
	.testimonials .text-box{
		padding: 25px 10px;
		background: rgba(255, 255, 255, 0.82);
	}
	.testi-tile-big{
		height: 350px;
		padding: 0 15px;
	}
	.social-tabs-con{
		margin-top: 50px;
		text-align: center;
	}
	.tabs{
		width: 20%;
		height: 60px;
	}
	.social-content{
		text-align: center;
	}
	.social-content iframe{
		margin: 0 auto !important;
	}
	.award{
		padding: 10px 25px;
	}
	.events{
		background:#f2f2f2;
	}
	footer input{
		margin-bottom: 10px;
		width: 100%;
	}
	.sub-btn{
		width: 100%;
	}
}

@media (max-width: 480px){
	.swiper-slide .fn1{
		letter-spacing: 10px;
		line-height: 42px;
	}
	.about .find-out{
		width: 90%;
		padding: 11px 20px;
	}
	.tile-con{
		width: 100%;
	}
	.watwedo-tiles-container .tile{
		height: auto;
		padding-top: 80%;
	}
	.testimonials .testimonials-copy{
		font-size: 4vw;
		line-height: 4vw;
	}
	.testimonials .head2-bold{
		font-size: 6vw;
	}

}

@media (max-width: 321px){

}